extends ./../partials/layout.jade

block content

  .full-page-wrapper.space-between
    h1 EXTERNAL SURVEY!
    h3 This should open in a new tab in the BACKGROUND! <br> I'm not demonstrating this b/c it's impossible to do without add-on permissions.


