extends ./../partials/layout.jade

block content
  
  .blue#retire
    .stars
    .full-page-wrapper.centered(data-hook='retire-page')
      .centered-banner
        .loading-pill(disabled)
            h1.emphasis Shutting down Test Pilot...
            .state-change-inner(style="opacity: 1")
        #four-oh-four.modal.no-display
          header
            h1(data-l10n-id='notFoundHeader').title Thanks Again!
          .modal-content
            p.
              Before you go, we want to thank you for contributing to Test Pilot. <br> You're welcome back any time!
          .modal-actions
            a.button.default.large(data-l10n-id='home', href='external-survey.html') Take a quick survey
            a(href='index.html').modal-escape Home
        .copter-wrapper
          .copter.no-display
