.modal.editorial-modal.no-display
  h3.title Editoral Aside...
  .modal-content
    p(style='font-size: 19px') Here's how this works: <br><br> Feedback requests appear for a random subset of users with a given experiment enabled 5 minutes into a session.
  .modal-actions
    button.button.default.large(data-hook='show-ratings') Show me

