.modal.feedback-modal.no-display
  h3.title Tell us what you think
  form.modal-content.modal-form
    span.notification.no-display please chose an option
    ul.questions
      li
        input(type="radio" name="feedback" id="1")
        label(for="1") Something seems broken.
      li
        input(type="radio" name="feedback" id="2")
        label(for="2") Request a feature.
      li
        input(type="radio" name="feedback" id="3")
        label(for="3") This is cool!
      li
        input(type="radio" name="feedback" id="4")
        label(for="4") Something else.
    div.additional-feedback
      .text-area-label Do you have any additional feedback?
      textarea(placeholder="what's on your mind")
  .modal-actions
    button.button.default.large(type='submit' name="feedback") Submit
    a.modal-escape(data-hook='cancel-modal') cancel

