.modal.feedback-thanks-modal.no-display
  .modal-content
    .copter-wrapper
      .copter
    p.centered.
      Your feedback is helping us improve Test Pilot.
  .modal-actions
    button.button.default.large(data-hook='cancel-modal').quit Close

