header#main-header.content-wrapper
  h1
    a(href="home.html")
      span.firefox-logo
      span #{title} 
  .settings-contain
    .settings-button(data-hook='settings-button')
      span
      span
      span
    .settings-menu.no-display
      ul
        li
          a(data-l10n-id='menuWiki', href='https://wiki.mozilla.org/Test_Pilot', target='_blank') Test Pilot Wiki
        li
          a(data-l10n-id='menuFileIssue', href='https://github.com/mozilla/testpilot/issues/new', target='_blank') File an Issue
        li
          a(data-l10n-id='menuLogout', data-hook='logout') Sign out
        hr
        li
          a(data-hook='retire') Retire
