doctype
html
  head
    link(rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css")
    link(rel="stylesheet" href="styles/main.css")
    link(rel="stylesheet" href="styles/prototype-styles.css")

  body
    block content
    script(src="lib/jquery/jquery.min.js")
    script(src="scripts/main.js")
