.no-display(data-response="toggle")
  span.parens (of course, you'll need Firefox to use Test Pilot)
  a.button.primary.download-firefox(href="http://www.mozilla.org/en-US/firefox")
    .button-icon
      .button-icon-badge
    .button-copy
      .button-title Firefox
      .button-description Free Download
