.modal.onboarding-modal.no-display
  header
    h3.title.onboarding Activity Stream enabled!
  .modal-content
    .copter-wrapper.fly-down
      .copter
  .modal-actions
    button.button.default.large(data-hook='start-tour') Take the Tour
    a.modal-escape(data-hook='cancel-modal') Skip

