.modal.quit-thanks-modal.no-display
  header
    h3.title Thank you!
  .modal-content
    .copter-wrapper
      .copter.fly-down
    p.centered.
      Your participation in Firefox Test Pilot means a lot!
      Please check out our other experiments, and stay tuned for more to come!
  .modal-actions
    a.button.default.large(href="external-survey.html").quit Take a quick survey
    a.modal-escape(data-hook='cancel-modal') Close

