.modal.retire-modal.no-display
  header
    h3.title.warning Retire from Test Pilot?
  .modal-content
    p.centered.
      If you retire from Test Pilot, we will disable any active tests,
      uninstall the Test Pilot add-on,
      remove your account information from our servers, 
      and generally just leave you alone.
  .modal-actions
    a.button.warning.large(href="retire.html") Retire
    a.modal-escape(data-hook='cancel-modal') cancel

