.modal.tour-modal.no-display
  .tour-content
    .tour-image image explaining feature detail 1
  .tour-content.no-display
    .tour-image another image explaining feature detail
    .tour-text also, you can pass in arbitrary text if you want
  .tour-content.no-display
    .tour-image image explaining feature detail n
    .tour-text here's some more arbitrary text
  .tour-content.no-display
    .tour-image image explaining how to feedback
  .tour-actions
    .tour-back.hidden
    .tour-next
    button.button.default.large.no-display(data-hook='cancel-modal') Done
